<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>553750875272-9qk8keed8fjmhes9qget3n67ijmrg0mb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.553750875272-9qk8keed8fjmhes9qget3n67ijmrg0mb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>553750875272-85edectvcrvatngc3n5a9a80sunels84.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDhYNYNMLC3f4bkg-5PCGUjUIZO5-capng</string>
	<key>GCM_SENDER_ID</key>
	<string>553750875272</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.infamousindie.clippy.clippy</string>
	<key>PROJECT_ID</key>
	<string>clippy-indie</string>
	<key>STORAGE_BUCKET</key>
	<string>clippy-indie.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:553750875272:ios:89743d98c524813b4aa33d</string>
</dict>
</plist>